In [1]:
import math

"""def cosine_similarity(vec1, vec2):
    dot = 0.0
    norm1 = 0.0
    norm2 = 0.0

    for i in range(len(vec1)):
        dot += vec1[i] * vec2[i]
        norm1 += vec1[i] ** 2
        norm2 += vec2[i] ** 2

    if norm1 == 0 or norm2 == 0:
        return 0.0

    return dot / (math.sqrt(norm1) * math.sqrt(norm2))"""

In [2]:
# product_id : weight
user1 = {1: 5, 3: 2, 5: 1}
user2 = {1: 4, 2: 1, 5: 2}

In [6]:
def cosine_similarity_sparse(v1, v2):
    dot = 0.0

    for key in v1:
        if key in v2:
            dot += v1[key] * v2[key]

    norm1 = math.sqrt(sum(val * val for val in v1.values()))
    norm2 = math.sqrt(sum(val * val for val in v2.values()))

    if norm1 == 0 or norm2 == 0:
        return 0.0

    return dot / (norm1 * norm2)
score=cosine_similarity_sparse(user1, user2)

In [4]:
def similarity_relation(score):
    if score >= 0.85:
        return "very strong"
    elif score >= 0.65:
        return "strong"
    elif score >= 0.40:
        return "medium"
    elif score >= 0.20:
        return "weak"
    else:
        return "none"

In [7]:
similarity_relation(score)

'very strong'

In [47]:
import pandas as pd

data=pd.read_csv("Entertainment.csv")

In [12]:
data

,Id,Titles,Category,Reviews
0,6973,Toy Story (1995),"Drama, Romance, School, Supernatural",-8.98
1,6778,Jumanji (1995),"Action, Adventure, Drama, Fantasy, Magic, Mili...",8.88
2,9702,Grumpier Old Men (1995),"Action, Comedy, Historical, Parody, Samurai, S...",99.00
3,6769,Waiting to Exhale (1995),"Sci-Fi, Thriller",99.00
4,1123,Father of the Bride Part II (1995),"Action, Comedy, Historical, Parody, Samurai, S...",-0.44
5,9860,Heat (1995),"Comedy, Drama, School, Shounen, Sports",-6.65
6,1803,Sabrina (1995),"Action, Adventure, Shounen, Super Power",99.00
7,9721,Tom and Huck (1995),"Drama, Military, Sci-Fi, Space",-5.19
8,6563,Sudden Death (1995),"Action, Comedy, Historical, Parody, Samurai, S...",-7.86
9,1323,GoldenEye (1995),"Action, Comedy, Historical, Parody, Samurai, S...",3.01
10,7889,"American President, The (1995)","Drama, Fantasy, Romance, Slice of Life, Supern...",99.00
11,7650,Dracula: Dead and Loving It (1995),"Drama, School, Shounen",-7.23
12,5467,Balto (1995),"Action, Comedy, Historical, Parody, Samurai, S...",99.00
13,7451,Nixon (1995),"Action, Drama, Mecha, Military, Sci-Fi, Super ...",5.97
14,5898,Cutthroat Island (1995),"Comedy, Drama, School, Shounen, Sports",-5.92
15,7355,Casino (1995),"Adventure, Drama, Supernatural",2.91
16,6791,Sense and Sensibility (1995),"Drama, Music, Romance, School, Shounen",99.00
17,8574,Four Rooms (1995),"Adventure, Fantasy, Historical, Mystery, Seine...",0.53
18,9679,Ace Ventura: When Nature Calls (1995),"Fantasy, Slice of Life",99.00
19,5465,Money Train (1995),"Action, Mecha, Military, School, Sci-Fi, Super...",99.00
20,6478,Get Shorty (1995),"Comedy, Drama, Shounen, Sports",99.00
21,8670,Copycat (1995),"Action, Drama, Historical, Martial Arts, Roman...",99.00
22,6865,Assassins (1995),"Action, Adventure, Comedy, Drama, Sci-Fi, Space",6.17
23,1324,Powder (1995),"Action, Comedy, Parody, Sci-Fi, Seinen, Super ...",-8.20
24,6677,Leaving Las Vegas (1995),"Action, Adventure, Fantasy",-0.34
25,9657,Othello (1995),"Comedy, Mystery, Romance, School, Sci-Fi, Supe...",8.01
26,4654,Now and Then (1995),"Comedy, Mystery, Romance, Supernatural, Vampire",-3.98
27,1233,Persuasion (1995),"Adventure, Fantasy, Historical, Mystery, Seine...",-4.61
28,4647,City of Lost Children (1995),"Adventure, Fantasy, Historical, Mystery, Seine...",99.00
29,5871,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,"Action, Adventure, Comedy, Mecha, Sci-Fi",99.00
30,8754,Dangerous Minds (1995),"Comedy, Drama, School, Shounen, Slice of Life",-0.19
31,2797,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),"Drama, Fantasy, Shoujo, Slice of Life, Superna...",99.00
32,6590,Babe (1995),"Comedy, Drama, Shounen, Sports",-1.41
33,5236,Dead Man Walking (1995),"Adventure, Fantasy, Historical, Mystery, Seine...",99.00
34,7547,It Takes Two (1995),"Drama, Fantasy, Shoujo, Slice of Life, Superna...",5.92
35,6698,Clueless (1995),"Adventure, Drama, Fantasy, Romance",99.00
36,5355,"Cry, the Beloved Country (1995)","Action, Fantasy, Supernatural, Thriller",5.15
37,7589,Richard III (1995),"Action, Mystery, Supernatural, Vampire",99.00
38,7643,Dead Presidents (1995),"Drama, Horror, Mystery, Police, Psychological,...",2.96
39,6868,Restoration (1995),"Comedy, Drama, Romance, Shounen",99.00
40,4172,Mortal Kombat (1995),"Mystery, Police, Psychological, Supernatural, ...",-8.74
41,8558,To Die For (1995),"Comedy, Parody",99.00
42,9979,How to Make an American Quilt (1995),"Action, Comedy, School, Shounen",99.00
43,1110,Seven (a.k.a. Se7en) (1995),"Comedy, Drama, School, Shounen, Sports",-5.05
44,1264,Pocahontas (1995),"Comedy, Drama, Shounen, Sports",7.86
45,3469,When Night Is Falling (1995),"Action, Drama, Mystery, Romance, Supernatural,...",6.31
46,6439,"Usual Suspects, The (1995)","Drama, Fantasy, Shoujo, Slice of Life, Superna...",-8.45
47,7464,Mighty Aphrodite (1995),"Psychological, Seinen, Sports",-7.86
48,8879,Lamerica (1994),"Adventure, Fantasy, Historical, Mystery, Seine...",1.46
49,8746,"Big Green, The (1995)","Mystery, Psychological, Seinen, Supernatural",-9.42
50,9844,Georgia (1995),"Mystery, Psychological, Romance",5.15

In [9]:
data.describe()

                Id    Reviews
count    51.000000  51.000000
mean   6351.196078  36.289608
std    2619.679263  49.035042
min    1110.000000  -9.420000
25%    5295.500000  -4.295000
50%    6778.000000   5.920000
75%    8223.500000  99.000000
max    9979.000000  99.000000

In [10]:
data.shape

(51, 4)

In [11]:
data.columns

Index(['Id', 'Titles', 'Category', 'Reviews'], dtype='object')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        51 non-null     int64
 1   Titles    51 non-null     object
 2   Category  51 non-null     object
 3   Reviews   51 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB

In [14]:
data.Category

0                  Drama, Romance, School, Supernatural
1     Action, Adventure, Drama, Fantasy, Magic, Mili...
2     Action, Comedy, Historical, Parody, Samurai, S...
3                                      Sci-Fi, Thriller
4     Action, Comedy, Historical, Parody, Samurai, S...
5                Comedy, Drama, School, Shounen, Sports
6               Action, Adventure, Shounen, Super Power
7                        Drama, Military, Sci-Fi, Space
8     Action, Comedy, Historical, Parody, Samurai, S...
9     Action, Comedy, Historical, Parody, Samurai, S...
10    Drama, Fantasy, Romance, Slice of Life, Supern...
11                               Drama, School, Shounen
12    Action, Comedy, Historical, Parody, Samurai, S...
13    Action, Drama, Mecha, Military, Sci-Fi, Super ...
14               Comedy, Drama, School, Shounen, Sports
15                       Adventure, Drama, Supernatural
16               Drama, Music, Romance, School, Shounen
17    Adventure, Fantasy, Historical, Mystery, Seine...
18                               Fantasy, Slice of Life
19    Action, Mecha, Military, School, Sci-Fi, Super...
20                       Comedy, Drama, Shounen, Sports
21    Action, Drama, Historical, Martial Arts, Roman...
22      Action, Adventure, Comedy, Drama, Sci-Fi, Space
23    Action, Comedy, Parody, Sci-Fi, Seinen, Super ...
24                           Action, Adventure, Fantasy
25    Comedy, Mystery, Romance, School, Sci-Fi, Supe...
26      Comedy, Mystery, Romance, Supernatural, Vampire
27    Adventure, Fantasy, Historical, Mystery, Seine...
28    Adventure, Fantasy, Historical, Mystery, Seine...
29             Action, Adventure, Comedy, Mecha, Sci-Fi
30        Comedy, Drama, School, Shounen, Slice of Life
31    Drama, Fantasy, Shoujo, Slice of Life, Superna...
32                       Comedy, Drama, Shounen, Sports
33    Adventure, Fantasy, Historical, Mystery, Seine...
34    Drama, Fantasy, Shoujo, Slice of Life, Superna...
35                   Adventure, Drama, Fantasy, Romance
36              Action, Fantasy, Supernatural, Thriller
37               Action, Mystery, Supernatural, Vampire
38    Drama, Horror, Mystery, Police, Psychological,...
39                      Comedy, Drama, Romance, Shounen
40    Mystery, Police, Psychological, Supernatural, ...
41                                       Comedy, Parody
42                      Action, Comedy, School, Shounen
43               Comedy, Drama, School, Shounen, Sports
44                       Comedy, Drama, Shounen, Sports
45    Action, Drama, Mystery, Romance, Supernatural,...
46    Drama, Fantasy, Shoujo, Slice of Life, Superna...
47                        Psychological, Seinen, Sports
48    Adventure, Fantasy, Historical, Mystery, Seine...
49         Mystery, Psychological, Seinen, Supernatural
50                      Mystery, Psychological, Romance
Name: Category, dtype: object

In [15]:

data['Category'].isna().sum()

0

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf=TfidfVectorizer(stop_words="english")

tfidf_matrix=tfidf.fit_transform(data.Category)

tfidf_matrix.shape

(51, 34)

In [27]:
tfidf.get_feature_names_out()

array(['action', 'adventure', 'arts', 'comedy', 'drama', 'fantasy', 'fi',
       'historical', 'horror', 'life', 'magic', 'martial', 'mecha',
       'military', 'music', 'mystery', 'parody', 'police', 'power',
       'psychological', 'romance', 'samurai', 'school', 'sci', 'seinen',
       'shoujo', 'shounen', 'slice', 'space', 'sports', 'super',
       'supernatural', 'thriller', 'vampire'], dtype=object)

In [57]:
print(pd.DataFrame(tfidf_matrix.toarray(),columns=tfidf.get_feature_names_out()))

      action  adventure      arts    comedy     drama   fantasy  historical  \
0   0.000000   0.000000  0.000000  0.000000  0.388690  0.000000    0.000000
1   0.280786   0.333883  0.000000  0.000000  0.242388  0.313861    0.000000
2   0.315735   0.000000  0.000000  0.299989  0.000000  0.000000    0.388034
3   0.000000   0.000000  0.000000  0.000000  0.000000  0.000000    0.000000
4   0.315735   0.000000  0.000000  0.299989  0.000000  0.000000    0.388034
5   0.000000   0.000000  0.000000  0.378101  0.343526  0.000000    0.000000
6   0.334077   0.397251  0.000000  0.000000  0.000000  0.000000    0.000000
7   0.000000   0.000000  0.000000  0.000000  0.295548  0.000000    0.000000
8   0.315735   0.000000  0.000000  0.299989  0.000000  0.000000    0.388034
9   0.315735   0.000000  0.000000  0.299989  0.000000  0.000000    0.388034
10  0.000000   0.000000  0.000000  0.000000  0.313465  0.405897    0.000000
11  0.000000   0.000000  0.000000  0.000000  0.470656  0.000000    0.000000
12  0.315735   0.000000  0.000000  0.299989  0.000000  0.000000    0.388034
13  0.262184   0.000000  0.000000  0.000000  0.226330  0.000000    0.000000
14  0.000000   0.000000  0.000000  0.378101  0.343526  0.000000    0.000000
15  0.000000   0.674419  0.000000  0.000000  0.489605  0.000000    0.000000
16  0.000000   0.000000  0.000000  0.000000  0.280294  0.000000    0.000000
17  0.000000   0.355095  0.000000  0.000000  0.000000  0.333801    0.367006
18  0.000000   0.000000  0.000000  0.000000  0.000000  0.540920    0.000000
19  0.254649   0.000000  0.000000  0.000000  0.000000  0.000000    0.000000
20  0.000000   0.000000  0.000000  0.438458  0.398364  0.000000    0.000000
21  0.249056   0.000000  0.528455  0.000000  0.214997  0.000000    0.306087
22  0.331954   0.394726  0.000000  0.315398  0.286558  0.000000    0.000000
23  0.272008   0.000000  0.000000  0.258442  0.000000  0.000000    0.000000
24  0.522464   0.621263  0.000000  0.000000  0.000000  0.584007    0.000000
25  0.000000   0.000000  0.000000  0.341406  0.000000  0.000000    0.000000
26  0.000000   0.000000  0.000000  0.326194  0.000000  0.000000    0.000000
27  0.000000   0.355095  0.000000  0.000000  0.000000  0.333801    0.367006
28  0.000000   0.355095  0.000000  0.000000  0.000000  0.333801    0.367006
29  0.358059   0.425769  0.000000  0.340202  0.000000  0.000000    0.000000
30  0.000000   0.000000  0.000000  0.351957  0.319773  0.000000    0.000000
31  0.000000   0.000000  0.000000  0.000000  0.285838  0.370124    0.000000
32  0.000000   0.000000  0.000000  0.438458  0.398364  0.000000    0.000000
33  0.000000   0.355095  0.000000  0.000000  0.000000  0.333801    0.367006
34  0.000000   0.000000  0.000000  0.000000  0.285838  0.370124    0.000000
35  0.000000   0.530327  0.000000  0.000000  0.384999  0.498524    0.000000
36  0.419676   0.000000  0.000000  0.000000  0.000000  0.469111    0.000000
37  0.378978   0.000000  0.000000  0.000000  0.000000  0.000000    0.000000
38  0.000000   0.000000  0.000000  0.000000  0.209616  0.000000    0.000000
39  0.000000   0.000000  0.000000  0.459971  0.417911  0.000000    0.000000
40  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000    0.000000
41  0.000000   0.000000  0.000000  0.553130  0.000000  0.000000    0.000000
42  0.470277   0.000000  0.000000  0.446823  0.000000  0.000000    0.000000
43  0.000000   0.000000  0.000000  0.378101  0.343526  0.000000    0.000000
44  0.000000   0.000000  0.000000  0.438458  0.398364  0.000000    0.000000
45  0.350936   0.000000  0.000000  0.000000  0.302944  0.000000    0.000000
46  0.000000   0.000000  0.000000  0.000000  0.285838  0.370124    0.000000
47  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000    0.000000
48  0.000000   0.355095  0.000000  0.000000  0.000000  0.333801    0.367006
49  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000    0.000000
50  0.000000   0.000000  0.000000  0.000000  0.000000  0.000000    0.000000

      horror      life    magic  ...    seinen    shoujo   shounen     slice  \
0   0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.000000  0.59578  ...  0.000000  0.000000  0.280786  0.000000
2   0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.315735  0.000000
3   0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
4   0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.315735  0.000000
5   0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.397947  0.000000
6   0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.334077  0.000000
7   0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
8   0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.315735  0.000000
9   0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.315735  0.000000
10  0.000000  0.446274  0.00000  ...  0.000000  0.000000  0.000000  0.446274
11  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.545216  0.000000
12  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.315735  0.000000
13  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
14  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.397947  0.000000
15  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
16  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.324698  0.000000
17  0.000000  0.367006  0.00000  ...  0.394137  0.000000  0.000000  0.367006
18  0.000000  0.594729  0.00000  ...  0.000000  0.000000  0.000000  0.594729
19  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
20  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.461472  0.000000
21  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
22  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
23  0.000000  0.000000  0.00000  ...  0.359007  0.000000  0.000000  0.000000
24  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
25  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
26  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
27  0.000000  0.367006  0.00000  ...  0.394137  0.000000  0.000000  0.367006
28  0.000000  0.367006  0.00000  ...  0.394137  0.000000  0.000000  0.367006
29  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
30  0.000000  0.455255  0.00000  ...  0.000000  0.000000  0.370431  0.455255
31  0.000000  0.406942  0.00000  ...  0.000000  0.588212  0.000000  0.406942
32  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.461472  0.000000
33  0.000000  0.367006  0.00000  ...  0.394137  0.000000  0.000000  0.367006
34  0.000000  0.406942  0.00000  ...  0.000000  0.588212  0.000000  0.406942
35  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
36  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
37  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
38  0.515229  0.000000  0.00000  ...  0.320487  0.000000  0.000000  0.000000
39  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.484115  0.000000
40  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
41  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
42  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.470277  0.000000
43  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.397947  0.000000
44  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.461472  0.000000
45  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000
46  0.000000  0.406942  0.00000  ...  0.000000  0.588212  0.000000  0.406942
47  0.000000  0.000000  0.00000  ...  0.527155  0.000000  0.000000  0.000000
48  0.000000  0.367006  0.00000  ...  0.394137  0.000000  0.000000  0.367006
49  0.000000  0.000000  0.00000  ...  0.517775  0.000000  0.000000  0.000000
50  0.000000  0.000000  0.00000  ...  0.000000  0.000000  0.000000  0.000000

       space    sports     super  supernatural  thriller   vampire
0   0.000000  0.000000  0.000000      0.438757  0.000000  0.000000
1   0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
2   0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
3   0.000000  0.000000  0.000000      0.000000  0.806985  0.000000
4   0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
5   0.000000  0.569475  0.000000      0.000000  0.000000  0.000000
6   0.000000  0.000000  0.556317      0.000000  0.000000  0.000000
7   0.657272  0.000000  0.000000      0.000000  0.000000  0.000000
8   0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
9   0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
10  0.000000  0.000000  0.000000      0.353842  0.000000  0.000000
11  0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
12  0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
13  0.000000  0.000000  0.436599      0.000000  0.000000  0.000000
14  0.000000  0.569475  0.000000      0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000      0.552671  0.000000  0.000000
16  0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
17  0.000000  0.000000  0.000000      0.290992  0.000000  0.000000
18  0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
19  0.000000  0.000000  0.424051      0.000000  0.000000  0.000000
20  0.000000  0.660382  0.000000      0.000000  0.000000  0.000000
21  0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
22  0.637279  0.000000  0.000000      0.000000  0.000000  0.000000
23  0.000000  0.000000  0.452958      0.265056  0.000000  0.000000
24  0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
25  0.000000  0.000000  0.000000      0.350142  0.000000  0.000000
26  0.000000  0.000000  0.000000      0.334541  0.000000  0.659093
27  0.000000  0.000000  0.000000      0.290992  0.000000  0.000000
28  0.000000  0.000000  0.000000      0.290992  0.000000  0.000000
29  0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
30  0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
31  0.000000  0.000000  0.000000      0.322657  0.000000  0.000000
32  0.000000  0.660382  0.000000      0.000000  0.000000  0.000000
33  0.000000  0.000000  0.000000      0.290992  0.000000  0.000000
34  0.000000  0.000000  0.000000      0.322657  0.000000  0.000000
35  0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
36  0.000000  0.000000  0.000000      0.408949  0.660732  0.000000
37  0.000000  0.000000  0.000000      0.369291  0.000000  0.727556
38  0.000000  0.000000  0.000000      0.000000  0.382297  0.000000
39  0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
40  0.000000  0.000000  0.000000      0.294879  0.476431  0.000000
41  0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
42  0.000000  0.000000  0.000000      0.000000  0.000000  0.000000
43  0.000000  0.569475  0.000000      0.000000  0.000000  0.000000
44  0.000000  0.660382  0.000000      0.000000  0.000000  0.000000
45  0.000000  0.000000  0.000000      0.341966  0.552508  0.000000
46  0.000000  0.000000  0.000000      0.322657  0.000000  0.000000
47  0.000000  0.571567  0.000000      0.000000  0.000000  0.000000
48  0.000000  0.000000  0.000000      0.290992  0.000000  0.000000
49  0.000000  0.000000  0.000000      0.382275  0.000000  0.000000
50  0.000000  0.000000  0.000000      0.000000  0.000000  0.000000

[51 rows x 33 columns]

In [17]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim_matrix = linear_kernel(tfidf_matrix, tfidf_matrix)

movie_index = pd.Series(data.index, index =data ['Titles']).drop_duplicates()

In [23]:
movie_index

Titles
Toy Story (1995)                                         0
Jumanji (1995)                                           1
Grumpier Old Men (1995)                                  2
Waiting to Exhale (1995)                                 3
Father of the Bride Part II (1995)                       4
Heat (1995)                                              5
Sabrina (1995)                                           6
Tom and Huck (1995)                                      7
Sudden Death (1995)                                      8
GoldenEye (1995)                                         9
American President, The (1995)                          10
Dracula: Dead and Loving It (1995)                      11
Balto (1995)                                            12
Nixon (1995)                                            13
Cutthroat Island (1995)                                 14
Casino (1995)                                           15
Sense and Sensibility (1995)                            16
Four Rooms (1995)                                       17
Ace Ventura: When Nature Calls (1995)                   18
Money Train (1995)                                      19
Get Shorty (1995)                                       20
Copycat (1995)                                          21
Assassins (1995)                                        22
Powder (1995)                                           23
Leaving Las Vegas (1995)                                24
Othello (1995)                                          25
Now and Then (1995)                                     26
Persuasion (1995)                                       27
City of Lost Children (1995)                            28
Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)    29
Dangerous Minds (1995)                                  30
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)               31
Babe (1995)                                             32
Dead Man Walking (1995)                                 33
It Takes Two (1995)                                     34
Clueless (1995)                                         35
Cry, the Beloved Country (1995)                         36
Richard III (1995)                                      37
Dead Presidents (1995)                                  38
Restoration (1995)                                      39
Mortal Kombat (1995)                                    40
To Die For (1995)                                       41
How to Make an American Quilt (1995)                    42
Seven (a.k.a. Se7en) (1995)                             43
Pocahontas (1995)                                       44
When Night Is Falling (1995)                            45
Usual Suspects, The (1995)                              46
Mighty Aphrodite (1995)                                 47
Lamerica (1994)                                         48
Big Green, The (1995)                                   49
Georgia (1995)                                          50
dtype: int64

In [18]:
def get_rec_movies(movie_name,num):
    movie_id=movie_index[movie_name]
    cosine_scores=list(enumerate(cosine_sim_matrix[movie_id]))
    
    cosine_scores = sorted(cosine_scores, key=lambda x:x[1], reverse = True)
    
    cosine_scores_N = cosine_scores[0: num+1]
    
    movie_idx  =  [i[0] for i in cosine_scores_N]
    movie_scores =  [i[1] for i in cosine_scores_N]
    
    movie_similar_show = pd.DataFrame(columns=["name", "Score"])
    movie_similar_show["name"] = data.loc[movie_idx, "Titles"]
    movie_similar_show["Score"] = movie_scores
    movie_similar_show.reset_index(inplace = True)
    print (movie_similar_show)

In [19]:
get_rec_movies("Jumanji (1995)",10)

    index                                  name     Score
0       1                        Jumanji (1995)  1.000000
1      24              Leaving Las Vegas (1995)  0.537426
2      35                       Clueless (1995)  0.426853
3      15                         Casino (1995)  0.343851
4       6                        Sabrina (1995)  0.320244
5      13                          Nixon (1995)  0.318409
6       7                   Tom and Huck (1995)  0.314619
7      22                      Assassins (1995)  0.275029
8      11    Dracula: Dead and Loving It (1995)  0.267170
9      36       Cry, the Beloved Country (1995)  0.265075
10     42  How to Make an American Quilt (1995)  0.264094

In [20]:
get_rec_movies("Heat (1995)", 5)

   index                         name     Score
0      5                  Heat (1995)  1.000000
1     14      Cutthroat Island (1995)  1.000000
2     43  Seven (a.k.a. Se7en) (1995)  1.000000
3     20            Get Shorty (1995)  0.862342
4     32                  Babe (1995)  0.862342
5     44            Pocahontas (1995)  0.862342

In [29]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\pc\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [30]:
Stopwords=stopwords.words('english')

In [48]:
import re
def clean_text(text):
    text = re.sub(r"-", "", text)
    text=re.sub(r"[^a-zA-Z0-9]", " ", text)
    words=[]
    for word in text.split(" "):
        if len(word)>3:
            words.append(word)
    w=[word for word in words if word not in Stopwords]
    return (" ".join(w))

In [49]:
data.Category=data.Category.apply(clean_text)

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf=TfidfVectorizer(stop_words="english")

tfidf_matrix=tfidf.fit_transform(data.Category)

tfidf_matrix.shape

(51, 33)

In [51]:
tfidf.get_feature_names_out()

array(['action', 'adventure', 'arts', 'comedy', 'drama', 'fantasy',
       'historical', 'horror', 'life', 'magic', 'martial', 'mecha',
       'military', 'music', 'mystery', 'parody', 'police', 'power',
       'psychological', 'romance', 'samurai', 'school', 'scifi', 'seinen',
       'shoujo', 'shounen', 'slice', 'space', 'sports', 'super',
       'supernatural', 'thriller', 'vampire'], dtype=object)

In [52]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim_matrix = linear_kernel(tfidf_matrix, tfidf_matrix)

movie_index = pd.Series(data.index, index =data ['Titles']).drop_duplicates()

In [53]:
def get_rec_movies(movie_name,num):
    movie_id=movie_index[movie_name]
    cosine_scores=list(enumerate(cosine_sim_matrix[movie_id]))
    
    cosine_scores = sorted(cosine_scores, key=lambda x:x[1], reverse = True)
    
    cosine_scores_N = cosine_scores[0: num+1]
    
    movie_idx  =  [i[0] for i in cosine_scores_N]
    movie_scores =  [i[1] for i in cosine_scores_N]
    
    movie_similar_show = pd.DataFrame(columns=["name", "Score"])
    movie_similar_show["name"] = data.loc[movie_idx, "Titles"]
    movie_similar_show["Score"] = movie_scores
    movie_similar_show.reset_index(inplace = True)
    print (movie_similar_show)

In [56]:
get_rec_movies("Tom and Huck (1995)",10)

    index                                               name     Score
0       7                                Tom and Huck (1995)  1.000000
1      22                                   Assassins (1995)  0.654428
2      13                                       Nixon (1995)  0.434968
3      19                                 Money Train (1995)  0.357498
4       1                                     Jumanji (1995)  0.338213
5       3                           Waiting to Exhale (1995)  0.232961
6      25                                     Othello (1995)  0.163312
7      29  Shanghai Triad (Yao a yao yao dao waipo qiao) ...  0.162736
8      15                                      Casino (1995)  0.144702
9       2                            Grumpier Old Men (1995)  0.143500
10      4                 Father of the Bride Part II (1995)  0.143500